.grid {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-rows: 1fr 1fr 1fr;
}


.card {
  max-width: 85%;
  height: 100%;
  margin: 5rem auto;
  border-radius: 0.2rem;
  overflow: hidden;
}

section {
  padding: 1rem;

  // section one second paragraph
  &:nth-of-type(1) > p:nth-of-type(2) {width: 100%;}

  // section three paragraph
  &:nth-of-type(3) > p:nth-of-type(1) {width: 65%;}
}

section > * {
  padding-top: 0.6rem;
  padding-bottom: 0.5rem;
}


.button {
  border-radius: 5px;
  margin-top: 1rem;
  padding: 1rem;
  display: block;
  text-align: center;
}