.grid {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-rows: 1fr 1fr 1fr;
}


.card {
  max-width: 85%;
  height: 100%;
  margin: 5rem auto;
}

.button {
  border-radius: 5px;
  text-align: center;
  margin: 20px;
  padding: 20px;
  display: block;
}