*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Karla', sans-serif;
  background-color: $neutral-color-200;
}

.attribution {
  font-size: 11px; text-align: center; 
  a { color: hsl(228, 45%, 44%); }
}